RewriteEngine On
AddHandler fcgid-script .fcgi
RewriteRule ^$ index.html.erb [QSA]
RewriteRule ^([^.]+)$ $1.html.erb [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.fcgi [QSA,L]
RewriteBase /

